// out: ../css/main.css

//================================================================//
//####################### ICON FONT ###########################//
//================================================================//
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

//==================================================================//
//####################### SOCIAL ICONS ############################//
//================================================================//
.demo-icon {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: never;

      display: inline-block;
      text-decoration: inherit;
      text-align: center;
      /* opacity: .8; */

      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;

      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;

      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;

      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */

      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

//================================================================//
//####################### COLORS ###########################//
//================================================================//
@primaryColor: #ffffff;
@primaryDarkColor: #2b2b2b;
@accentYellowColor: #edb506;

@lightColor: #ffffff;
@darkColor: #000000;

@primaryFontColor: 0.9;
@secondaryFontColor: 0.6;
@tertiatyFontColor: 0.4;
@navInactiveColor: 0.5;
@hintColor: 0.37;
@disabledColor: 0.2;

//================================================================//
//####################### FONTS ###########################//
//================================================================//
@montserratFont: 'Montserrat', sans-serif;
@poppinsFont: 'Poppins', sans-serif;

@montserratBold: 700;
@montserratBlack: 800;
@montserratBlacked: 900;

@poppinsLight: 300;
@poppinsRegular: 400;
@poppinsMedium: 500;
@poppinsSemiBold: 600;
@poppinsBold: 700;
@poppinsBlack: 900;

//================================================================//
//####################### VALUES ###########################//
//================================================================//
@xsmall:  ~"only screen and (min-width: 320px)";
@small:  ~"only screen and (min-width: 375px)";
@medium:  	~"only screen and (min-width: 768px)";
@large:   	~"only screen and (min-width: 1366px)";
@xlarge:  	~"only screen and (min-width: 1440px)";
@xxlarge: 	~"only screen and (min-width: 2560px)";


//================================================================//
//####################### TRANSITIONS ###########################//
//================================================================//
@transNav: ease-in-out;
@transFadeUpLogo: opacity 1.2s ease-in, transform 0.8s cubic-bezier(0, 0, 0.66, 1);

@transEaseIn: ease-in;
@transEaseOut: ease-out;
@transEaseINOut: ease-in-out;

@transCubicFastIn: cubic-bezier(0.22, 0.61, 0.36, 1);

//================================================================//
//####################### GLOBAL STYLES ###########################//
//================================================================//
::selection {
	// color: @lightColor;
}
/* Scroller */
::-webkit-scrollbar {
  width: 8px;
  display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  // background: @scrollColor;
}

//================================================================//
//################## ANIMATION CLASSES ###########################//
//================================================================//
.hide {
  opacity: 0;
}
.hide.revealed {
  opacity: 1;
}

.before-fade-up {
  opacity: 0;
  transform: translateY(100%);
}
.before-fade-up.fade-up {
  opacity: 1;
  transform: translateY(0%);
}
//=================================================================//
//######################## KEYFRAMES ###############################//
//================================================================//


//==================================================================//
/*######################### HTML STARTING TAG #####################*/
//=================================================================//
// - global styles
// - texts
// - contents
// - customs
// - page styles

// globals
* {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: @montserratFont;
}

// text styles
h1, h2, h3, h4, h5, h6, p {
  font-family: @poppinsFont;
}

h1 {
  font-weight: @poppinsBold;
  font-size: 2rem;
  margin: 0;
  @media @medium {
    font-size: 3rem;
  }
  @media @large {
    font-size: 6rem;
  }
  @media @xlarge {
    font-size: 7rem;
  }
  span {
    -webkit-text-stroke: 1px @lightColor;
    -webkit-text-fill-color: transparent;
    @media @medium {
      -webkit-text-stroke-width: 3px;
    }
  }
}
h3, h4 {
  font-weight: @poppinsMedium;
}

h5, h6 {}

p {
  font-weight: @poppinsLight;
  font-size: 0.8rem;
  @media @xlarge {
    font-size: 1.3rem;
  }
}

// contents styles
main {
  background: @primaryDarkColor;
}

section {
  padding: 2rem 1rem;
  text-align: left;
  height: 100vh;
  color: @lightColor;
  display: grid;
  grid-template-columns: 1fr;
  @media @medium {
    padding: 2rem;
  }
  @media @large {
    padding: 2rem 4rem;
  }
  .block-text {
    grid-area: text;
    align-self: center;
    @media @medium {      
      justify-content: center;
    }
  }
  .block-image {
    display: grid;
    grid-area: img;
    align-self: center;
    justify-self: center;
    img {
      width: 95%;
      justify-self: center;
    }
  }
}
section.content {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  @media @medium {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
  }
}
section.content.left {
  grid-template-areas: "img"
                        "text";
  @media @medium {
    grid-template-areas: "text img";
  }
  .block-image {
    img {
      justify-self: center;
      @media @medium {
        justify-self: end;
      }
    }
  }
}
section.content.center {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "text";
  .block-text {
    text-align: center;
    width: 90%;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    @media @medium {
      width: 75%;
    }
  }
}
section.content.right {
  grid-template-areas: "img"
                        "text";
  @media @medium {
    grid-template-areas: "img text";
  }
}

// customs styles
.block-button {
  margin-top: 2rem;
  a {
    background-color: @accentYellowColor;
    color: @lightColor;
    padding: 1rem 2rem;
    font-weight: @montserratBold;
    font-size: 0.6rem;
    transition: all 0.5s @transEaseIn;
    @media @medium {
      font-size: 0.8rem;
    }
    @media @xlarge {
      padding: 1rem 3rem;
    }
    &:hover {
      color: @primaryDarkColor;
      background-color: @lightColor;
    }
  }
}

.parallaxe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.parallaxe.happiness {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/parallaxe/parallaxe-happiness.jpg');
}
.parallaxe.cta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/parallaxe/parallaxe-cta.jpg');
}





// page style
html {
  scroll-behavior: smooth;

  body {
    margin: 0;
    padding: 0;

    .top-bar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 50;
      display: grid;
      grid-template-areas: "logo nav";
      margin: 1rem 0;
      transition: all 1s @transEaseIn;
      @media @medium {
        margin: 2rem 0;
      }
      .block-logo {
        grid-area: logo;
        align-self: center;
        justify-self: start;
        padding: 0 1rem;
        @media @medium {
          padding: 0 2rem;
        }
        a {
          font-weight: @montserratBlack;
          font-size: 1rem;
          color: @darkColor;
        }
      }
      .block-nav {
        padding: 0 1rem;
        grid-area: nav;
        align-self: center;
        justify-self: end;
        display: flex;
        @media @medium {
          padding: 0 2rem;
        }
        i {
          color: @lightColor;
          transition: opacity 1s @transNav;
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }

    .bottom-bar {
      position: fixed;
      bottom: 0;
      display: none;
      margin: 2rem 0;
      z-index: 50;
      transition: all 1s @transEaseIn;
      @media @large {
        display: grid;
      }
      .block-nav {
        nav {
          ul {
            display: inline;
            padding: 0;
            margin-left: 1.5rem;
            @media @large {
              margin-left: 0;
            }
            li {
              display: inline-block;
              a {
                color: @lightColor;
                opacity: @secondaryFontColor;
                font-weight: @montserratBold;
                font-size: 0.8rem;
                padding: 1rem;
                transition: opacity 0.8s @transNav;
                @media @medium {
                  padding: 1rem 0.8rem;
                  font-size: 0.65rem;
                }
                @media @large {
                  padding: 1rem 2rem;
                  font-size: 0.8rem;
                  color: @darkColor;
                }
                &:hover {
                  opacity: @primaryFontColor;
                }
              }
            }
          }
        }
      }
    }

    header {
      display: grid;
      grid-template-rows: repeat(2, 65vh);
      height: 100vh;

      @media @large {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
      }

      .block-left {
        width: 100vw;
        padding: 2rem;
        display: grid;
        transition: width 1.5s ease-in-out;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        @media @large {
          grid-column-start: 1;
          grid-column-end: 1;
        }
        .block-logo {
          align-self: start;
          justify-self: center;
          transition: all 1s ease-in-out;
          @media @large {
            align-self: center;
          }
          .block-text {
            overflow: hidden;
            text-align: center;
            font-family: @montserratFont;
            h3 {
              font-size: 1rem;
              font-weight: @montserratBold;
              margin-bottom: 0;
              transition: @transFadeUpLogo;
              @media @medium {
                font-size: 1.5rem;
              }
              @media @large {
                font-size: 2rem;
              }
            }
            h1 {
              color: @accentYellowColor;
              font-size: 3rem;
              font-weight: @montserratBlacked;
              margin-top: 0;
              transition: @transFadeUpLogo;
              transition-delay: 100ms;
              @media @medium {
                font-size: 6rem;
              }
              @media @large {
                font-size: 10rem;
              }
            }
          }
        }
      }

      .block-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 15rem;
        height: 20vh;
        display: grid;
        margin: auto;
        @media @medium {
          height: 60vh;
          top: 25%;
        }
        @media @large {
          width: 30vw;
          height: 100vh;
          bottom: unset;
          top: 0;
          margin: 0 auto;
        }

        .block-image-content {
          display: none;
          align-self: center;
          justify-self: center;
          overflow: hidden;
          width: 15rem;
          height: 45vh;
          transition: all 2s @transEaseINOut;
          @media @medium {
            height: 60vh;
          }
          @media @xlarge {
            width: 25rem;
            height: 75vh;
          }
          .block-img {
            position: relative;
            img {
              width: 15rem;
              @media @large {
                width: 25rem;
              }
            }
          }
        }
      }

      .block-right {
        width: 100vw;
        grid-row-start: 2;
        grid-row-end: 2;
        background: @primaryDarkColor;
        display: grid;
        padding: 2rem;
        @media @large {
          width: 50vw;
          grid-column-start: 2;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 1;
        }
        .block-content {
          align-self: end;
          justify-self: center;
          margin-left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          @media @large {
            margin-left: 10rem;
            align-self: center;
            align-items: flex-start;
          }

          .block-text {
            align-self: center;
            justify-self: center;
            text-align: center;
            @media @large {
              text-align: left;
            }
            h3 {
              color: @lightColor;
              font-size: 1rem;
              @media @large {
                font-size: 1.3rem;
              }
              @media @xlarge {
                font-size: 1.8rem;
              }
              @media @xxlarge {
                font-size: 2.3rem;
              }
            }
          }
          .block-button {
            margin-top: 2rem;
          }
        }
      }
    }

    main {
      display: none;
    }

    footer {
      display: grid;
      background: @accentYellowColor;
      color: @primaryDarkColor;
      padding: 0.5rem 1rem;
      @media @medium {
        padding: 1rem;
      }
      .block-text {
        justify-self: center;
        p {
          font-size: 0.7rem;
          @media @xlarge {
            font-size: 0.8rem;
          }
        }
        a {
          text-decoration: underline;
          color: @primaryDarkColor;
          transition: all 0.6s @transEaseOut;
          &:hover {
            color: @lightColor;
          }
        }
      }
    }
/*######################### BODY ENDING TAG #####################*/
  }
/*######################### HTML ENDING TAG #####################*/
}
